.text-primary,.btn-outline-primary{
    color:#765ABA !important;
    border-color :#765ABA !important;
}

.btn-outline-primary:hover{
    background-color:#765ABA !important;
    color:#ffffff !important;
}

.btn-primary{
    background-color:#765ABA !important;
    border-color:#765ABA !important
}


@font-face {
    font-family: 'Mitr-Regular';
    src: url('../fonts/Mitr/Mitr-Regular.ttf')
  }

@font-face {
    font-family: 'Mitr-ExtraLight';
    src: url('../fonts/Mitr/Mitr-ExtraLight.ttf')
  }

*{
    font-family: 'Mitr-ExtraLight' ,Fallback, sans-serif;
}