@media (min-width: 994px) and (max-width: 1960px) {
    .lg-custom{
        padding: 0px 50px 0 50px !important;
    }
}

@media (min-width: 320px) and (max-width: 993px) {
    .container-sm{
        padding: 0 18px;
    }
    .logoMB {
        margin: auto ;
    }

    #footer .text_thx {
        font-size: 15px !important;
    }
    /* .custom-file{
        padding-bottom: 5px;
    } */
}

body .body-pd-bt { padding-bottom: 37px; }

input,p,label,textarea,a,button{
    font-family: 'Mitr-Regular';
}


.text-primary,.btn-outline-primary{
    color:#765ABA !important;
    border-color :#765ABA !important;
}

.btn-outline-primary:hover{
    background-color:#765ABA !important;
    color:#ffffff !important;
}

.btn-primary{
    background-color:#765ABA !important;
    border-color:#765ABA !important
}

.image-upload>input {
    display: none;
}


h7{
    font-size: 10px;
}

.white-img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    width: 22px;
    height: 22px;
}

#footer {
    color: #444444;
    font-size: 14px;
    background: #ffffff;
    bottom: 0px;
    width: 100%;
    position: fixed;	/*  #f1f0f2  */
}
  
#footer .text_thx {
    font-family: 'Mitr-Light' ,Fallback, sans-serif;
    color: #7A58BF; 
    text-align: right; 
    padding-top: 10px;
    font-size: 20px;
}

.pd-top {
    margin-top: 80px !important;
}

.otp-pd-top { margin-top: 40px !important; }  

#menu {
    background-image: url("../../public/img/thankyou_smile.png");
    background-repeat: no-repeat;
	background-size: 350px;
    padding-bottom: 120px;
}

.lang-btn {
	display: block;
	position: relative;
	float: right;	
	color: #888888 !important;
}

.lang-btn a{
	font-family: 'Mitr-Regular';
    font-size: 13px;
    cursor: pointer;
    text-decoration : none;
}

.lang-btn a:hover { color: #765ABA !important; }

.lang-btn a.se{
	font-family: 'Mitr-Regular';
    color: rgb(70, 34, 121) !important;
    font-size: 13px;
    cursor: pointer;
    text-decoration : none;
}

.text-condition{
    line-height: 22px;
}

.custom-file-label{
    white-space: nowrap;
    overflow: hidden;
}


/* -----------------------------------font---------------------------------------- */

@font-face {
    font-family: 'Mitr-Bold';
    src: url('../fonts/Mitr/Mitr-Bold.ttf')
}
@font-face {
    font-family: 'Mitr-ExtraLight';
    src: url('../fonts/sukhumvit/SukhumvitSet-Thin.ttf')
}
@font-face {
    font-family: 'Mitr-Light';
    src: url('../fonts/sukhumvit/SukhumvitSet-Light.ttf')
}
@font-face {
    font-family: 'Mitr-Medium';
    src: url('../fonts/Mitr/Mitr-Medium.ttf')
}
@font-face {
    font-family: 'Mitr-Regular';
    src: url('../fonts/sukhumvit/SukhumvitSet-Text.ttf')
}
@font-face {
    font-family: 'Mitr-SemiBold';
    src: url('../fonts/Mitr/Mitr-SemiBold.ttf')
}


.Bold{
    font-family: 'Mitr-Bold' ,Fallback, sans-serif;
}
.ExtraLight{
    font-family: 'Mitr-ExtraLight' ,Fallback, sans-serif;
}
.Light{
    font-family: 'Mitr-Light' ,Fallback, sans-serif;
}
.Medium{
    font-family: 'Mitr-Medium' ,Fallback, sans-serif;
}
.Regular{
    font-family: 'Mitr-Regular' ,Fallback, sans-serif;
}
.SemiBold{
    font-family: 'Mitr-SemiBold' ,Fallback, sans-serif;
}

/* -----------------------------------font---------------------------------------- */

