@media (min-width: 994px) and (max-width: 1960px) {
    .lg-custom{
        padding: 0px 50px 0 50px !important;
    }
}

@media (min-width: 320px) and (max-width: 993px) {
    .container-sm{
        padding: 0 18px;
    }
    .logoMB {
        margin: auto ;
    }

    #footer .text_thx {
        font-size: 15px !important;
    }
    /* .custom-file{
        padding-bottom: 5px;
    } */
}

body .body-pd-bt { padding-bottom: 37px; }

input,p,label,textarea,a,button{
    font-family: 'Mitr-Regular';
}

.btn {
    border : 2px solid transparent !important;
}
.text-primary,.btn-outline-primary{
    color:#765ABA !important;
    border-color :#765ABA !important;
}

.btn-outline-primary:hover{
    background-color:#765ABA !important;
    color:#ffffff !important;
}

.btn-primary{
    background-color:#765ABA !important;
    border-color:#765ABA !important
}


h7{
    font-size: 10px;
}

.white-img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    width: 22px;
    height: 22px;
}

#footer {
    color: #444444;
    font-size: 14px;
    background: #ffffff;
    bottom: 0px;
    width: 100%;
    position: fixed;	/*  #f1f0f2  */
}
  
#footer .text_thx {
    font-family: 'Mitr-Light' ,Fallback, sans-serif;
    color: #7A58BF; 
    text-align: right; 
    padding-top: 10px;
    font-size: 20px;
}

.pd-top {
    margin-top: 80px !important;
}

.otp-pd-top { margin-top: 40px !important; }  

#menu {
    background-image: url("../../public/img/thankyou_smile.png");
    background-repeat: no-repeat;
	background-size: 350px;
    padding-bottom: 120px;
}

.lang-btn {
	display: block;
	position: relative;
	float: right;	
	color: #888888 !important;
}

.lang-btn a{
	font-family: 'Mitr-Regular';
    font-size: 13px;
    cursor: pointer;
    text-decoration : none;
}

.lang-btn a:hover { color: #765ABA !important; }

.lang-btn a.se{
	font-family: 'Mitr-Regular';
    color: rgb(70, 34, 121) !important;
    font-size: 13px;
    cursor: pointer;
    text-decoration : none;
}

.text-condition{
    line-height: 22px;
}

.custom-file-label{
    white-space: nowrap;
    overflow: hidden;
}


.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Mitr-Regular';
    font-size: 13px;
    padding-bottom: 6px;
    color: #495057;
}

.policy{
    border: none;
    background: none;
    padding-bottom: 6px;
    color: #495057;
    font-size: 13px;
    outline: none !important;
}

.img-hover-zoom {
    height: 88px;
    overflow: hidden;
}
.img-hover-zoom img {
    transition: transform .5s ease;
}
.img-hover-zoom:hover img {
    transform: scale(1.2);
}
.img-lang{
    padding-top: 10px;
    cursor: pointer;
}

/* -----------------------------------font---------------------------------------- */

@font-face {
    font-family: 'Mitr-Bold';
    src: url('../fonts/Mitr/Mitr-Bold.ttf')
}
@font-face {
    font-family: 'Mitr-ExtraLight';
    src: url('../fonts/sukhumvit/SukhumvitSet-Thin.ttf')
}
@font-face {
    font-family: 'Mitr-Light';
    src: url('../fonts/sukhumvit/SukhumvitSet-Light.ttf')
}
@font-face {
    font-family: 'Mitr-Medium';
    src: url('../fonts/Mitr/Mitr-Medium.ttf')
}
@font-face {
    font-family: 'Mitr-Regular';
    src: url('../fonts/sukhumvit/SukhumvitSet-Text.ttf')
}
@font-face {
    font-family: 'Mitr-SemiBold';
    src: url('../fonts/Mitr/Mitr-SemiBold.ttf')
}


.Bold{
    font-family: 'Mitr-Bold' ,Fallback, sans-serif;
}
.ExtraLight{
    font-family: 'Mitr-ExtraLight' ,Fallback, sans-serif;
}
.Light{
    font-family: 'Mitr-Light' ,Fallback, sans-serif;
}
.Medium{
    font-family: 'Mitr-Medium' ,Fallback, sans-serif;
}
.Regular{
    font-family: 'Mitr-Regular' ,Fallback, sans-serif;
}
.SemiBold{
    font-family: 'Mitr-SemiBold' ,Fallback, sans-serif;
}

/* -----------------------------------font---------------------------------------- */



.modal-content{
    border: none !important;
    border-radius: 1.5rem !important;
}

.characters-left{
    float: right;
    color: #6c757d;
    font-size: 1rem;
    font-family: 'Mitr-Regular';
}


.image-wrapper {
    position: relative;
    /* position: absolute;  */
    padding-bottom: 100%;
    z-index: 1;
  }

  .image-wrapper img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 0.4rem;
  }

  #uploadmulti div > div .close{
    opacity: 1;
    color: #888888;
    position: relative; 
    font-size: 18px;
    margin-top: -10px;
    margin-right: -10px ;
    justify-content: end;
    z-index: 10;
    background-color: #fff;
    border-radius: 20px;
    padding: 0px 4px 0 4px !important;
    box-shadow: 0 0 10px 0 #ccc;
    cursor: pointer;
    text-align: end;
    
  }



  .pointer {cursor: pointer;}

  .button-clear{
    background-color: #765ABA;
    color: white;
    border: none;
    padding: 4px;
    border-radius: 16%;
    font-size: 15px;
  }

  .btn-out{
    position: fixed; 
    bottom: 11px;
    right: 11px;
    width: 70px; 
    z-index: 5;
  }

  .modal-clear{
    font-family: 'Mitr-Regular' !important;
  }
    ul{
        padding-inline-start: 20px !important;

    }
